<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>
	<p:panel>

		<h:form prependId="false">

			<p:lineChart id="lineChart" title="Grafica de Esfuerzos"
				value="#{startBean.chartModel}" legendPosition="s"
				style="height:500px;margin-top:20px" />

			<hr />
			<div align="center" style="font-size: large;">
				<b>Actual:</b>
			&nbsp;
				<h:outputText value="#{startBean.numeroActual}" />
				| <b>Promedio</b>
			&nbsp;
				<h:outputText value="#{startBean.numeroPromedio}" />
				| <b>Maximo</b>
			&nbsp;
				<h:outputText value="#{startBean.numeroMaximo}" />
			</div>
			<hr />

			<p:commandButton value="start" oncomplete="poll.start()"
				actionListener="#{startBean.start}">
			</p:commandButton>



			<p:poll interval="4" update="@form" widgetVar="poll"
				listener="#{startBean.updateChart}" />
		</h:form>

		<h:form>
			<p:dataTable id="alertaTable" value="#{startBean.alertas}"
				var="alerta">
				<p:column>
					Alerta enviada con medicion #{alerta.medicion} a la hora #{alerta.fecha}
				</p:column>
			</p:dataTable>

			<p:commandButton update="alertaTable" value="Mostrar Ultimas Alertas"
				actionListener="#{startBean.updateAlertas}" />

		</h:form>

	</p:panel>
</h:body>

</html>